.form {
    background-color: rgba(211, 211, 212, 0.05);
    display: flex;
    justify-content: space-between;
}
.custom-label .ant-form-item-label > label {
    color: #FFFFFF; /* Cor personalizada para as labels */
  }

.input {
    width: 500px;   
    height: 40px;
}

.botoes {
    display: flex;
    justify-content: flex-end;
}