.inputs-container {
  display: flex;
  justify-content: space-between;
}

.input {
  width: 500px;
  height: 40px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.input:focus,
.input:hover {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: 0;
}

.container-button {
  display: flex;
  justify-content: flex-end;
}

#voltar {
  margin-right: 16px;
}

@media (max-width: 1024px) {
  .inputs-container {
    display: flex;
    justify-content: space-between;
  }

  .input {
    width: 400px;
  }
}

@media (max-width: 768px) {
  .inputs-container {
    display: flex;
    justify-content: space-between;
  }

  .input {
    width: 300px;
  }
}

@media (max-width: 480px) {
  .inputs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container-button {
    display: flex;
    justify-content: center;
  }
}
