.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding: 16px 24px;
}

.custom-button {
  background-color: #8b5cf6;
  color: #ffffff;
  font-weight: 600;
  width: 230px;
  height: 45px;
  border: none !important;
}

.custom-button:hover {
  transition: 0.5s;
  background-color: #9c78f0 !important;
  border: none !important;
}

.ant-btn .ant-btn-icon {
  margin-inline-start: 0 !important;
  margin-right: 8px;
}

.link {
  text-decoration: none !important;
}

@media (max-width: 768px) {
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .custom-button {
    width: 200px;
  }

  .custom-button span {
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  .card {
    padding: 12px 48px;
    margin-bottom: 24px;
    border-radius: 8px;
  }

  .custom-button {
    width: 80px;
  }

  #span {
    display: none;
  }

  .ant-btn .ant-btn-icon {
    margin-right: 0;
    margin-inline-end: 0 !important;
  }
}
