.details {
  padding: 16px 24px;
}

.modal-custom .ant-modal-content{
  height: 200px;
  background-color: #fff;
}

.modal-custom .ant-modal-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

#delete-button {
  background-color: #f6935c;
  border: 0;
}

#delete-button:hover {
  transition: 0.5s;
  background-color: #f9a272 !important;
  border: none !important;
}

.ant-descriptions-title {
  font-size: 24px !important;
}


