.th {
  border: 0;
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.tr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.tr:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.td {
  padding: 12px 16px;
  font-size: 14px;
  color: rgb(212, 212, 216);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.container-table {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 0;
  border-radius: 8px;
  margin: 16px 24px;
}

.table {
  width: 100%;
}

@media (max-width: 768px) {
  .container-table {
    /* width: 90%; */
  }
}