* {
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

body {
  background-color: #09090a;
}

.card {
  background-color: rgba(211, 211, 212, 0.05);
  margin-bottom: 24px;
  border-radius: 8px;
}

.button {
  width: 100px;
  height: 50px;
  background-color: #8b5cf6;
  font-weight: 600;
  border: none;
}

.button:hover {
  transition: 0.5s;
  background-color: #9c78f0 !important;
  border: none !important;
}

.ant-input-outlined.ant-input-status-error:not(.ant-input-disabled) {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

:where(
    .css-dev-only-do-not-override-v6t21c
  ).ant-input-outlined.ant-input-status-error:not(.ant-input-disabled):hover {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: transparent;
}

.ant-modal .ant-modal-content,
.ant-modal-title {
  color: #ffffff !important;
  background-color: #484849 !important;
  margin-bottom: 88px !important;
}

.ant-modal p {
  display: none;
}

.ant-btn-default {
  background-color: transparent;
  border-color: #8b5cf6;
}

.ant-btn-default:hover {
  transition: 0.5s;
  background-color: #8b5cf6 !important;
  border-color: #8b5cf6 !important;
}

.ant-btn-primary {
  background-color: #8b5cf6;
  border-color: #8b5cf6;
}

.ant-btn-primary:hover {
  background-color: #9c78f0 !important;
}

.ant-notification .ant-notification-notice-wrapper .ant-notification-notice {
  background-color: #484849;
  border-radius: 8px;
}

.ant-notification-notice-with-icon .ant-notification-notice-message,
.ant-notification-notice-description {
  color: #ffffff !important;
}

.ant-notification-notice-close:hover {
  transition: 0.5s;
  background-color: #323232 !important;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: rgba(211, 211, 212, 0.5);
}

body::-webkit-scrollbar-thumb {
  background-color: #323232;
  border-radius: 16px;
}

@media (max-width: 768px) {
  .card {
    padding: 12px 48px;
    margin-bottom: 24px;
    border-radius: 8px;
  }
}

@media (max-width: 480px) {
  .card {
    padding: 12px 48px;
    margin-bottom: 24px;
    border-radius: 8px;
  }
}
